# django
Django==3.1.4
sqlparse==0.4.1
asgiref==3.3.1
pytz==2020.4
# env config
django-environ==0.4.5
# production server
gunicorn
psycopg2-binary
whitenoise
Pillow~=8.0.1
# database
dj-database-url
# logging
django-debug-toolbar~=3.2
# API
djangorestframework==3.12.2
django-cors-headers
django-cleanup
# documentation
drf-yasg
drf-yasg[validation]
# Admin Panel
git+https://github.com/slavaromanov/django-jet@migrate-to-django-3
google-api-python-client==1.4.1
# libs
requests
# test coverage
coverage
# Elasticsearch 7.x (clients)
elasticsearch>=7.10.0,<8.0.0 # low level python client
elasticsearch-dsl # high level python client
django-elasticsearch-dsl # django client
# detect language
langdetect
langid
# NLP
resume-parser
spacy==2.3.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#egg=en_core_web_sm
nltk==3.5
# Parsers
python-docx #docs
PyPDF2~=1.26.0
PyMuPDF
pytesseract~=0.3.6
textract



