{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:"Admin" }}{% endblock %}

{% block extrahead %}{{ block.super }}
    <link rel="shortcut icon" href="{% static "logo/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "logo/favicon.ico" %}" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'css/admin_theme.css' %}">
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <img alt="CV Catcher" src="{% static "logo/logo.png" %}" width="60" height="60"
             style="object-fit: contain">
        CV Catcher
    </h1>
{% endblock %}