{% extends "admin/login.html" %}
{% load i18n static %}


{% block content %}
    <div id="content-main">
        <div class="row" id="content-header">
            <div class="text-center">
                <img alt="CV Catcher"
                     src="{% static "logo/logo_text.png" %}"
                     width="180" height="80"
                     style="object-fit: contain">
                <h2 class="mt10 mb20">Find your dream job!</h2>
                <p>Upload your CV and we will take care of the rest.</p>
            </div>
        </div>

        <form method="post" id="login-form" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-row mt10 mb10">
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <div class="submit-row">
                <input type="submit" value="Upload CV">
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}
    <div class="p10 pb20 text-center">Are you the admin? <a href="/admin/">Admin Panel</a></div>
{% endblock %}